@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Light&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --navy: #374f4e;
  --steel: #aa8552;
  --gold: #d1801e;
  --cream: #daccc4;
  --peach: #edbd95;
  --font: "Michroma", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overscroll-behavior-x: none;
}

body {
  font-family: var(--font);
  background-color: var(--navy);
  color: var(--cream);
  overflow-x: hidden;
  overscroll-behavior-x: none;
}

button {
  font-family: var(--font);
  cursor: pointer;
}
